(
  root: "tests/data/basic",
  keys: [
    (key: "Wait"),
    // Select "out" directory and enter it
    (key: "select:out"),
    (key: "Enter"),
    (key: "Wait"),
  ],
  asserts: (
    left_panel: Some((
      mode: Contains,
      entries: [".."],
      browser_mode: Some("Fs"),
      panel_mode: Some("Browser"),
    )),
  ),
)
