[Desktop Entry]
Type=Application
Name=Fileman
Comment=Two-panel file manager
Exec=fileman %f
Icon=fileman
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
Terminal=false
